@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);



#ext_menu-h .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-h.mbr-navbar--stuck .mbr-navbar__section {
  background: #dbf1fa;
}
#ext_menu-h .mbr-navbar__section {
  background: #dbf1fa;
}
#ext_menu-h .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-h .mbr-brand__name a {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}
#footer1-j P {
  text-align: center;
}
#msg-box4-m .mbr-header__text {
  color: #ffffff;
  font-size: 100px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
#msg-box4-m .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-m .mbr-article {
  color: #ffffff;
}
#msg-box3-r .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-r .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-r .mbr-article {
  color: #1a95c8;
}
#msg-box3-r .mbr-article P {
  text-align: left;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}






#ext_menu-0 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #dbf1fa;
}
#ext_menu-0 .mbr-navbar__section {
  background: #dbf1fa;
}
#ext_menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-0 .mbr-brand__name a {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}
#slider-1 H1 {
  font-size: 60px;
  font-family: 'Montserrat', sans-serif;
}
#slider-1 P {
  font-family: 'Montserrat', sans-serif;
}
#slider-1 .btn {
  font-size: 20px;
}
#features1-g .mbr-section__col .mbr-header__text {
  font-family: 'Montserrat', sans-serif;
  color: #ffeda5;
  font-size: 25px;
}
#features1-g P {
  text-align: center;
  color: #ffffff;
}
#form1-3 .mbr-header__text {
  color: #4fc0ef;
  font-size: 46px;
  font-family: 'Montserrat', sans-serif;
}
#social-buttons2-a .mbr-header__text {
  text-align: left;
  font-family: 'Montserrat', sans-serif;
}
#footer1-5 P {
  text-align: center;
}







#ext_menu-2 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-2.mbr-navbar--stuck .mbr-navbar__section {
  background: #dbf1fa;
}
#ext_menu-2 .mbr-navbar__section {
  background: #dbf1fa;
}
#ext_menu-2 .mbr-navbar__hamburger {
  color: #ffffff;
}
#ext_menu-2 .mbr-brand__name a {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}
#footer1-3 P {
  text-align: center;
}
#content4-6 .mbr-section-title .mbr-header__text {
  font-family: 'Montserrat', sans-serif;
  color: #4fc0ef;
  font-size: 46px;
}
#content4-6 .mbr-section__col .mbr-header__text {
  font-family: 'Montserrat', sans-serif;
  color: #1a95c8;
  font-size: 25px;
}
#content4-6 .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
#content4-7 .mbr-section__col .mbr-header__text {
  font-family: 'Montserrat', sans-serif;
  color: #1a95c8;
  font-size: 25px;
}
#content4-7 .btn {
  font-size: 15px;
}
#msg-box3-b .mbr-header .mbr-header__text {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #1a95c8;
  font-size: 30px;
}
#msg-box3-b .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-b .btn {
  font-family: 'Montserrat', sans-serif;
}
#msg-box2-d .mbr-header .mbr-header__text {
  color: #006893;
  font-size: 25px;
}
#msg-box2-d .mbr-article {
  color: #252525;
}
